.adminbuttons {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 2rem 2rem;
    background-color: #78A478;
    justify-content: center;
    align-items: center;
    color:  white;
    padding: 20px;
}

.adminLink {
    text-decoration: none;
}

.adminbuttons > h3 {
    padding: 20px 0px;
    font-family: 'Poppins';
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}