.Edit-and-Remove-buttons{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
   
}

.ER-Button{
    position: relative;
    left: 471px;
    margin-right: 61px;
    margin-top: 39px;
    background: #B4CCAD;
    border: 5px solid #0A5A0A;
    box-sizing: border-box;
    border-radius: 10px;
    width: 173px;
    height: 74px;
    font-family: Manuale;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;


}
.Page-no{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pageNo-text{
    font-family: Manuale;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    margin-right: 8px;
    color: #000000;
}

.box-1st-Page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 27px;
    background: #B4CCAD;
    border-radius: 10px;
    margin-right: 12px;
}
.Page-1st{
    font-family: Manuale;
    font-style: italic;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    text-decoration: inherit;
    color: #000000;
}
.Page-2nd{
    font-family: Manuale;
    font-style: italic;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    text-decoration: inherit;
    color: #000000;

}
.Page-no{
    margin-top: 35px;
}